*

!.gitignore
!.gitattributes
!.github/

!*.py
!*.sh
!*.md
!*README*
!LICENSE
!Makefile
!*.yml
!*.yaml
!*.json
!*.toml
!*.txt
!*.rst
!*.ipynb
!*.gif

!scripts/

!diffsynth/
!diffsynth/*/
!diffsynth/*/*.py
!diffsynth/*/*/
!diffsynth/*/*/*.py
!diffsynth/*/*/*/
!diffsynth/*/*/*/*.py


!examples/
!examples/*/
!examples/*/*.py
!examples/*/*/
!examples/*/*/*.py
!examples/*/*/*/
!examples/*/*/*/*.py


!robotwin2.0/
